<div class="backdrop-mobile is-hidden">
    <div class=" modal-mobile-menu  ">
        <a href="./index.html" class="logo-mobile"><svg width="48" height="48">
                <use href="./images/sprite.svg#icon-logo"></use>
            </svg></a>
        <nav class="modal-nav">
            <ul class="modal-nav-list mobile">
                <li class="nav_item"><a href="./index.html" class="nav_link current-page" id="nav_home_mob">HOME</a>
                </li>
                <li class="nav_item"><a href="./catalog.html" class="nav_link" id="nav_cat_mob"> CATALOG </a>
                </li>
                <li class="nav_item"><a href="./my-lib-page.html" class="nav_link" id="nav_lib_mob">MY LIBRARY</a></li>
            </ul>
        </nav>
    </div>
</div>