<section>
  <div class="container">
    <h2 class="visually-hidden">Search Form</h2>
    <form class="search-form">
      <input
        id="search-form"
        type="text"
        placeholder="Film"
        class="search-form-input"
        name="searchMovies"
      />
      <select name="selectGenres" id="selectGenres"></select>
      <select name="selectDate" id="selectDate" disabled></select>
      <button class="search-btn" type="submit">
        <svg class="search-icon" width="30" height="30">
          <use href="./images/icon/search.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    <ul class="catalog-films"></ul>
    <div class="catalog-pagination">
      <ul>
        <!--pages or li are comes from javascript -->
      </ul>
    </div>
  </div>
</section>
