<section>
  <div class="container">
    <h2 class="visually-hidden">Search Form</h2>
    <form class="search-form">
      <div class="input-container">
        <input
          id="search-form"
          type="text"
          placeholder="Film"
          class="search-form-input"
          name="searchMovies"
        />
        <a class="search-clear-btn">
          <img
            src="./images/sprite.svg#icon-x"
            class="input-icon"
            alt="Clear"
          />
        </a>
      </div>
      <select name="selectGenres" id="selectGenres" disabled></select>
      <select name="selectDate" id="selectDate" disabled></select>
      <button class="search-btn" type="submit">
        <svg class="search-icon" width="30" height="30">
          <use href="./images/sprite.svg#icon-search-3"></use>
        </svg>
      </button>
    </form>
    <h3 class="visually-hidden">Catalog Films</h3>
    <ul class="catalog-films" data-modal-open>
      <!-- Карточки изображений -->
    </ul>
  </div>
</section>
