<section>
  <style>
    .catalog-films {
      display: flex;
      flex-wrap: wrap;
    }
    .catalog-card {
      width: calc(100% / 3);
    }
    .pagination {
      display: flex;
    }
    .pagination-btn {
      display: block;
      padding: 2px 5px;
    }
    .btn-active > .pagination-btn {
      background-color: red;
    }
  </style>
  <div class="container">
    <h2 class="visually-hidden">Search Form</h2>
    <form class="search-form">
      <input
        id="search-form"
        type="text"
        placeholder="Film"
        class="search-form-input"
        name="searchMovies"
      />
      <button class="search-btn" type="submit">
        <svg class="search-icon" width="30" height="30">
          <use href="./images/icon/search.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    <div class="catalog-films">
      <h2 class="visually-hidden">Catalog Films</h2>
      <!-- Карточки изображений -->
    </div>
    <div id="pagination"></div>
  </div>
</section>
