<div class="header">
  <div class="container">
    <a href="./index.html" class="logo"><svg width="48" height="48">
        <use href="./images/sprite.svg#icon-logo"></use>
      </svg><span class="logo-text">Cinemania</span></a>
    <nav class="nav">
      <span class="mobile-menu">MENU</span>
      <ul class="nav_list">
        <li class="nav_item">
          <a href="./index.html" class="nav_link current-page" id="nav_home">
            Home
          </a>
        </li>
        <li class="nav_item">
          <a href="./catalog.html" class="nav_link" id="nav_cat"> Catalog </a>
        </li>
        <li class="nav_item">
          <a href="./my-lib-page.html" class="nav_link" id="nav_lib">
            My library
          </a>
        </li>
      </ul>
    </nav>

    <label class="switch">
      <input type="checkbox">
      <span class="slider"></span>
    </label>
  </div>
</div>