<section class="hero" id="hero">
  <div class="container-wrapper" data-swiper-container>
    <div class="hero-img">
      <div class="hero-gradient">
        <div class="hero-title-wrap">
          <h1 class="hero-title">Let’s Make Your Own Cinema</h1>
        </div>
        <div class="hero-star-raiting"></div>
        <div class="hero-description-wrap">
          <p class="hero-description1">
            Is a guide to creating a personalized movie theater experience.
            You'll need a projector, screen, and speakers.
          </p>
          <p class="hero-description2">
            Decorate your space, choose your films, and stock up on snacks for
            the full experience.
          </p>
        </div>
        <button
          type="button"
          class="hero-btn hero-btn-trailer"
          id="hero-btn-trailer"
        >
          <a href="./my-lib-page.html"></a>
        </button>
      </div>
    </div>
  </div>
</section>
