<section class="hero" id="hero">
  <div class="container">
    <img
      class="hero-img"
      src="/src/images/hero/hero-home-bg.jpg"
      alt="Best film of a day"
      loading="lazy"
    />
    <div class="hero-title-wrap">
      <!-- API -->
      <!-- <h1 class="hero-title"></h1> -->
      <h1 class="hero-title">Let’s Make Your Own Cinema</h1>
    </div>
    <div class="hero-star-raiting">
      <span>* * * * *</span>
    </div>
    <div class="hero-description-wrap">
      <!-- API -->
      <!-- <p class="hero-description"></p> -->
      <p class="hero-description">
        Is a guide to creating a personalized movie theater experience. You'll
        need a projector, screen, and speakers. Decorate your space, choose your
        films, and stock up on snacks for the full experience.
      </p>
    </div>
    <button type="button" class="hero-btn" id="hero-btn-trailer">
      Watch trailer
    </button>
    <!-- API if data then render button ".hero-btn-more" -->
    <!-- <button type="button" class="hero-btn" id="hero-btn-more">
      More details
    </button> -->
  </div>
</section>
