<!-- <ul class="list" class="modal-open" data-modal-open>
  <li class="list-item" data-id="1">1</li>
  <li class="list-item" data-id="2">2</li>
  <li class="list-item" data-id="3">3</li>
</ul> -->

<!-- <section class="home">
  <div class="container">
    <div class="weekly-title-wrap">
      <span class="weekly-title-text">weekly trends</span>
      <a class="weekly-title-link" href="#">See all</a>
    </div>

    <div class="weekly-cards-wrap">
      <div class="weekly-card">
        <div class="weekly-container-image">
          <img
            class="weekly-card-image"
            src="/src/images/home/weekly_pic_mobil_1.jpg"
            alt=""
          />
          <div class="overlay"></div>
        </div>
        <div class="weekly-card-description">
          <span class="weekly-card-description-title">GHOSTED</span>
          <span class="weekly-card-description-other">Drama | 2023</span>
        </div>
        <div class="weekly-card-raiting">Stars5*</div>
      </div>

      <div class="weekly-card">
        <div class="weekly-container-image">
          <img
            class="weekly-card-image"
            src="/src/images/home/weekly_pic_mobil_2.jpg"
            alt=""
          />
          <div class="overlay"></div>
        </div>
        <div class="weekly-card-description">
          <span class="weekly-card-description-title">GHOSTED</span>
          <span class="weekly-card-description-other">Drama | 2023</span>
        </div>
        <div class="weekly-card-raiting">Stars5*</div>
      </div>

      <div class="weekly-card">
        <div class="weekly-container-image">
          <img
            class="weekly-card-image"
            src="/src/images/home/weekly_pic_mobil_3.jpg"
            alt=""
          />
          <div class="overlay"></div>
        </div>
        <div class="weekly-card-description">
          <span class="weekly-card-description-title">GHOSTED</span>
          <span class="weekly-card-description-other">Drama | 2023</span>
        </div>
        <div class="weekly-card-raiting">Stars5*</div>
      </div>
    </div>
    

    <div class="upcoming_wrap">
      <h2 class="upcoming-title">upcoming this month</h2>
      <div class="upcoming-card">
        <picture class="upcoming-card-img">
          <source
            srcset="/src/images/home/month_pic_tablet.jpg"
            media="(min-width: 768px)"
          />
          <img src="/src/images/home/month_pic_mobil.jpg" alt=" " />
        </picture>
        <div class="upcoming-card-wrap">
          <h3 class="upcoming-card-title">THE LOST CITY</h3>

          <div class="upcoming-card-numbers-wrap-top">
            <div class="upcoming-card-release-wrap">
              <span class="upcoming-card-release-text">Release date</span>
              <span class="upcoming-card-release-data">03.03.2023</span>
            </div>

            <div class="upcoming-card-vote-wrap">
              <div class="upcoming-card-vote"><span>Vote / Votes</span></div>
              <div class="upcoming-card-vote-data">
                <span>7.3</span> / <span>1260</span>
              </div>
            </div>
          </div>

          <div class="upcoming-card-numbers-wrap-down">
            <div class="upcoming-card-popularity-wrap">
              <span class="upcoming-card-popularity-text">Popularity</span>
              <span class="upcoming-card-popularity-data">99.9</span>
            </div>

            <div class="upcoming-card-genre-wrap">
              <span class="upcoming-card-genre-text">Genre</span>
              <span class="upcoming-card-genre-data">Comedy, action</span>
            </div>
          </div>

          <span class="upcoming-card-about-title">About</span>

          > Mykhailo:
          <p class="upcoming-card-about-text">
            Reclusive author Loretta Sage writes about exotic places in her
            popular adventure novels that feature a handsome cover model named
            Alan. While on tour promoting her new book with Alan, Loretta gets
            kidnapped by an eccentric billionaire who hopes she can lead him to
            an ancient city's lost treasure from her latest story. Determined to
            prove he can be a hero in real life and not just on the pages of her
            books, Alan sets off to rescue her.
          </p>

          <button class="upcoming-button" type="button">
            Add to my library
          </button>
        </div>
      </div>
    </div>
  </div>
</section> -->
