<section class="mylibrary_movies_section">
  <div class="container" id="lib-container-el">
    <div class="lib-option-wrapper">
      <select id="js-genre-select">
        <option value="1">All Genres</option>
      </select>
      <button class="modal-button" id="clear-lib-btn">Clear Library</button>
    </div>
    <ul
      class="weekly-cards-wrap mylibrary_movies"
      id="js-lib-list"
      data-modal-open
    ></ul>
    <div class="mylibrary_button">
      <button type="button" class="mylibrary_button-order" id="js-loadMore-btn">
        Load more
      </button>
      <a href="./catalog.html"></a>
    </div>
  </div>
</section>
