<section class="mylibrary_movies_section">
    <ul class="mylibrary_movies">
        <li class="mylibrary_movie">
            <div class="mylibrary__poster">
                <img class="mylibrary_poster_img" src="" alt="" width="395" height="574">
                <div class="mylibrary_movie_dark"></div>
            </div>
            <h3 class="mylibrary_movies_name"></h3>
            <p class="mylibrary__genre_movie"></p>
            <div class="mylibrary_stars"></div>
        </li>
    </ul>
    <div class="mylibrary_button">
        <button type="button" class="mylibrary_button-order">Load more</button>
    </div>
</section>