<!-- <head>
  <link href="/src/partials/css/footer/team.css" rel="stylesheet" />
</head>
<body> -->
<!-- MODAL -->

<!-- <div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <a data-modal-close class="close-button">
      <svg width="8px" height="8px">
        <!-<use href="/src/images/footer/close-black-18dp.svg"></use> -->
<!-- </svg>
    </a> -->
<!-- OUR TEAM -->

<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <a data-modal-close class="close-button">
      <svg width="8px" height="8px">
        <use href="/src/images/close.svg"></use>
      </svg>
    </a>

    <div class="container">
      <h2 class="our-team-title">Our team</h2>
      <ul class="our-team-list">
        <li class="our-team-item">
          <div class="our-team-card">
            <img
              class="minimized"
              src="/src/images/footer/Kamyshnikov.jpg"
              alt="Kamyshnikov"
              width="264"
            />
            <div class="our-team-info">
              <h3 class="team-info-title">Mykola Kamyshnikov</h3>
              <p class="team-info-text">Team-Lead, Footer, Our Team</p>
              <p class="team-info-text">
                Life motto: "There is no chance to "hit the barbel" in life.
                Calculate ahead, stive, succeed"
              </p>
            </div>
          </div>
        </li>
        <li class="our-team-item">
          <div class="our-team-card">
            <img
              src="/src/images/footer/Petyshyn.jpg"
              alt="Petyshyn"
              width="264"
              class="minimized"
            />
            <div class="our-team-info">
              <h3 class="team-info-title">Dmytro Petyshyn</h3>
              <p class="team-info-text">SCRUM-Master, Hero</p>
              <p class="team-info-text">
                Life motto: "Never stop learning, never stop growing"
              </p>
            </div>
          </div>
        </li>
        <li class="our-team-item">
          <div class="our-team-card">
            <img
              src="/src/images/footer/Selyvonenko.jpg"
              alt="Selyvonenko"
              width="264"
              class="our-team-img"
            />
            <div class="our-team-info">
              <h3 class="team-info-title">Kateryna Selyvonenko</h3>
              <p class="team-info-text">Footer, Our Team</p>
              <p class="team-info-text">
                Life motto: "It's never too late to learn"
              </p>
            </div>
          </div>
        </li>
        <li class="our-team-item">
          <div class="our-team-card">
            <img
              src="/src/images/footer/Yablokova.jpg"
              alt="Yablokova"
              width="264"
              class="our-team-img"
            />
            <div class="our-team-info">
              <h3 class="team-info-title">Anna Yablokova</h3>
              <p class="team-info-text">Hero</p>
              <p class="team-info-text">
                Life motto: "There is no limit to perfection"
              </p>
            </div>
          </div>
        </li>
        <li class="our-team-item">
          <div class="our-team-card">
            <img
              src="/src/images/footer/Dobryanskyi.png"
              alt="Mykhailo"
              width="264"
              class="our-team-img"
            />
            <div class="our-team-info">
              <h3 class="team-info-title">Mykhailo Dobyanskyi</h3>
              <p class="team-info-text">Home page</p>
              <p class="team-info-text">
                "Believe in yourself, you are stronger than you think"
              </p>
            </div>
          </div>
        </li>
        <li class="our-team-item">
          <div class="our-team-card">
            <img
              src="/src/images/footer/Los.jfif"
              alt="Los"
              width="264"
              class="our-team-img"
            />
            <div class="our-team-info">
              <h3 class="team-info-title">Alexander Los</h3>
              <p class="team-info-text">My library</p>
              <p class="team-info-text">Life motto: "Stay true to youself"</p>
            </div>
          </div>
        </li>
        <li class="our-team-item">
          <div class="our-team-card">
            <img
              src="/src/images/footer/Lemak.jpg"
              alt="Lemak"
              width="264"
              class="our-team-img"
            />

            <div class="our-team-info">
              <h3 class="team-info-title">Elvira Lemak</h3>
              <p class="team-info-text">Home-page, modal window</p>
              <p class="team-info-text">
                Life motto: "The boundaries exist only in our heads"
              </p>
            </div>
          </div>
        </li>
        <li class="our-team-item">
          <div class="our-team-card">
            <img
              src="/src/images/footer/Sytnik.jpg"
              alt="Sytnik"
              width="264"
              class="our-team-img"
            />
            <div class="our-team-info">
              <h3 class="team-info-title">Maksim Sytnik</h3>
              <p class="team-info-text">Catalog</p>
              <p class="team-info-text">Life motto: "Fun to the future"</p>
            </div>
          </div>
        </li>
        <li class="our-team-item">
          <div class="our-team-card">
            <img
              src="/src/images/footer/Krasilnik.jpg"
              alt="Krasilnyk"
              width="264"
              class="our-team-img"
            />
            <div class="our-team-info">
              <h3 class="team-info-title">Svitlana Krasilnyk</h3>
              <p class="team-info-text">My library</p>
              <p class="team-info-text">
                Life motto: "A dream is just a dream. The goal is a deam with a
                plan in time."
              </p>
            </div>
          </div>
        </li>
        <li class="our-team-item">
          <div class="our-team-card">
            <img
              src="/src/images/footer/Kofman.jpg"
              alt="Kofman"
              width="264"
              class="our-team-img"
            />
            <div class="our-team-info">
              <h3 class="team-info-title">Vadym Kofman</h3>
              <p class="team-info-text">Catalog</p>
              <p class="team-info-text">
                Life motto: "Be the change you wish to see in the world."
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
