<!-- MODAL -->

<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <a data-modal-close class="close-button">
      <svg width="8px" height="8px">
        <!-- <use href="/src/images/footer/close-black-18dp.svg"></use> -->
      </svg>
    </a>
    <!-- OUR TEAM -->
    <section class="section team">
      <h2 class="main-heading-2-team">Our Team</h2>
      <div>
        <ul class="main-pre-item-1-team">
          <li class="team-items">
            <!-- <img src="./images/Mark1x.jpg" srcset="./images/Mark1x.jpg, ./images/Mark2x.jpg" alt="Mark" width="264"> -->
            <div class="team-content">
              <h3 class="main-heading-3-team">Микола Камишніков</h3>
              <p class="main-item-paragraph-2-team">
                Team-Lead, Footer, Our Team
              </p>
              <p class="main-item-paragraph-2-team">Девіз по життю: ""</p>
            </div>
          </li>
        </ul>

        <ul class="main-pre-item-1-team">
          <li class="team-items">
            <!-- <img src="./images/Mark1x.jpg" srcset="./images/Mark1x.jpg, ./images/Mark2x.jpg" alt="Mark" width="264"> -->
            <div class="team-content">
              <h3 class="main-heading-3-team">Дмитро Петишин</h3>
              <p class="main-item-paragraph-2-team">SCRUM-Master, Hero</p>
              <p class="main-item-paragraph-2-team">Девіз по життю: ""</p>
            </div>
          </li>
        </ul>

        <ul class="main-pre-item-1-team">
          <li class="team-items">
            <img
              src="/src/images/footer/Selyvonenko.jpg"
              alt="Kateryna"
              width="264"
            />
            <div class="team-content">
              <h3 class="main-heading-3-team">Катерина Селивоненко</h3>
              <p class="main-item-paragraph-2-team">Footer, Our Team</p>
              <p class="main-item-paragraph-2-team">
                Девіз по життю: "Вчитися ніколи не пізно"
              </p>
            </div>
          </li>
        </ul>

        <ul class="main-pre-item-1-team">
          <li class="team-items">
            <!-- <img src="./images/Mark1x.jpg" srcset="./images/Mark1x.jpg, ./images/Mark2x.jpg" alt="Mark" width="264"> -->
            <div class="team-content">
              <h3 class="main-heading-3-team">Ганна Яблокова</h3>
              <p class="main-item-paragraph-2-team">Hero</p>
              <p class="main-item-paragraph-2-team">Девіз по життю: ""</p>
            </div>
          </li>
        </ul>

        <ul class="main-pre-item-1-team">
          <li class="team-items">
            <img
              src="/src/images/footer/Dobryanskyi.png"
              alt="Mykhailo"
              width="264"
            />
            <div class="team-content">
              <h3 class="main-heading-3-team">Михайло Добрянський</h3>
              <p class="main-item-paragraph-2-team">Home page</p>
              <p class="main-item-paragraph-2-team">
                Девіз по життю: "Вір у себе, ти сильніший, ніж думаєш"
              </p>
            </div>
          </li>
        </ul>

        <ul class="main-pre-item-1-team">
          <li class="team-items">
            <!-- <img src="./images/Mark1x.jpg" srcset="./images/Mark1x.jpg, ./images/Mark2x.jpg" alt="Mark" width="264"> -->
            <div class="team-content">
              <h3 class="main-heading-3-team">Олесандр Лось</h3>
              <p class="main-item-paragraph-2-team">My library</p>
              <p class="main-item-paragraph-2-team">Девіз по життю: ""</p>
            </div>
          </li>
        </ul>

        <ul class="main-pre-item-1-team">
          <li class="team-items">
            <!-- <img src="./images/Mark1x.jpg" srcset="./images/Mark1x.jpg, ./images/Mark2x.jpg" alt="Mark" width="264"> -->
            <div class="team-content">
              <h3 class="main-heading-3-team">Ельвіра Лемак</h3>
              <p class="main-item-paragraph-2-team">Home-page</p>
              <p class="main-item-paragraph-2-team">Девіз по життю: ""</p>
            </div>
          </li>
        </ul>

        <ul class="main-pre-item-1-team">
          <li class="team-items">
            <!-- <img src="./images/Mark1x.jpg" srcset="./images/Mark1x.jpg, ./images/Mark2x.jpg" alt="Mark" width="264"> -->
            <div class="team-content">
              <h3 class="main-heading-3-team">Максим Ситнік</h3>
              <p class="main-item-paragraph-2-team">Catalog</p>
              <p class="main-item-paragraph-2-team">Девіз по життю: ""</p>
            </div>
          </li>
        </ul>

        <ul class="main-pre-item-1-team">
          <li class="team-items">
            <!-- <img src="./images/Mark1x.jpg" srcset="./images/Mark1x.jpg, ./images/Mark2x.jpg" alt="Mark" width="264"> -->
            <div class="team-content">
              <h3 class="main-heading-3-team">Світлана Красільник</h3>
              <p class="main-item-paragraph-2-team">My library</p>
              <p class="main-item-paragraph-2-team">Девіз по життю: ""</p>
            </div>
          </li>
        </ul>

        <ul class="main-pre-item-1-team">
          <li class="team-items">
            <!-- <img src="./images/Mark1x.jpg" srcset="./images/Mark1x.jpg, ./images/Mark2x.jpg" alt="Mark" width="264"> -->
            <div class="team-content">
              <h3 class="main-heading-3-team">Вадим Кофман</h3>
              <p class="main-item-paragraph-2-team">Catalog</p>
              <p class="main-item-paragraph-2-team">Девіз по життю: ""</p>
            </div>
          </li>
        </ul>

        <ul class="main-pre-item-1-team">
          <li class="team-items">
            <!-- <img src="./images/Mark1x.jpg" srcset="./images/Mark1x.jpg, ./images/Mark2x.jpg" alt="Mark" width="264"> -->
            <div class="team-content">
              <h3 class="main-heading-3-team">Олег</h3>
              <p class="main-item-paragraph-2-team">Header</p>
              <p class="main-item-paragraph-2-team">Девіз по життю: ""</p>
            </div>
          </li>
        </ul>

        <ul class="main-pre-item-1-team">
          <li class="team-items">
            <!-- <img src="./images/Mark1x.jpg" srcset="./images/Mark1x.jpg, ./images/Mark2x.jpg" alt="Mark" width="264"> -->
            <div class="team-content">
              <h3 class="main-heading-3-team">Андрій</h3>
              <p class="main-item-paragraph-2-team">Header</p>
              <p class="main-item-paragraph-2-team">Девіз по життю: ""</p>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
