<div class="trailer-backdrop is-trailer-hidden">
  <div class="trailer-modal-container">
    <div class="trailer-close">
      <button type="button" class="modal-trailer-btn">
        <svg width="10.5" height="10.5">
          <use
            href="./images/sprite.svg#icon-close"
            class="close-btn-icon"
          ></use>
        </svg>
      </button>
    </div>
    <div class="trailer-container">
      <!-- <img
        id="trailer-img-err"
        class="trailer-err-img"
        width="500"
        src="./images/hero/trailer-error.png"
        alt="Oops! Trailer not found..."
      /> -->
    </div>
  </div>
</div>
