<div class="trailer-backdrop is-trailer-hidden">
  <div class="trailer-modal-container">
    <div class="trailer-close">
      <button type="button" class="modal-trailer-btn">
        <img
          class="close-btn-icon"
          src="/src/images/close.svg"
          alt=""
          width="50"
          height="50"
        />
      </button>
    </div>
    <div class="trailer-container">
      <!-- <img
        id="trailer-img-err"
        class="trailer-err-img"
        width="500"
        src="./images/hero/trailer-error.png"
        alt="Oops! Trailer not found..."
      /> -->
    </div>
  </div>
</div>
