.not-scroll-body {
  overflow: hidden;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 1;
  transition: opacity 500ms cubic-bezier(0.075, 0.82, 0.165, 1),
    visibility 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  z-index: 30;
  overflow-y: scroll;
  max-height: 100vh;
  top: 50%;
  left: 50%;
  width: 280px;
  padding: 52px 16px 64px 16px;

  background: #111111;
  box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
  border-radius: 16px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.modal.light-mode {
  background: white;
}

.close-btn {
  position: absolute;
  top: 30.75px;
  right: 30.75px;
  padding: 0;

  background: none;
  border: none;
  cursor: pointer;
}

.close-btn .close-btn-icon {
  stroke: var(--primary-title-color);
  transition: stroke 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.close-btn:active .close-btn-icon,
.close-btn:hover .close-btn-icon,
.close-btn:focus .close-btn-icon {
  stroke: var(--accent-color);
}

.modal-img {
  width: 248px;
  min-height: 315px;
  object-fit: cover;
}

.modal-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin-top: 22px;
  margin-bottom: 29px;
}

.modal-card-wrap {
  line-height: 16px;
  font-weight: 500;
}

.modal-card-vote-wrap {
  display: flex;
  margin-bottom: 12px;
}

.modal-card-vote {
  color: var(--secondary-text-color);
  margin-right: 62px;
}

.modal-card-vote-data span {
  padding: 1px 8px;
  color: var(--black);
  background: var(--white);
  border-radius: 5px;
}

.modal-card-popularity-wrap {
  margin-bottom: 12px;
}

.modal-card-popularity-text {
  color: var(--secondary-text-color);
  margin-right: 76px;
}

.modal-card-genre-wrap {
  display: flex;
}

.modal-card-genre-text {
  color: var(--secondary-text-color);
  margin-right: 105px;
}

.modal-card-about-title {
  display: inline-block;
  color: var(--secondary-text-color);
  text-transform: uppercase;
  margin-top: 4px;
  margin-bottom: 12px;
}

.modal-card-about-text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 20px;
}

.modal-button {
  position: relative;
  min-width: 140px;
  padding: 12px 24px;
  border-radius: 74px;
  background: var(--ligth-theme-title-color);
  text-align: center;
  color: var(--primary-title-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  transition: border 0.25s linear, border-color 0.25s linear,
    background 0.25s linear, color 0.25s linear;
}

.modal-button::before {
  content: '';
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border-radius: 34px;
  z-index: -1;
}
.modal-button:hover {
  background-color: var(--primary-title-color);
  color: var(--accent-color);
}

.gap-right {
  margin-bottom: 8px;
}

/* Tablet */

@media screen and (max-width: 767px) {
}

@media screen and (min-width: 768px) {
  .modal {
    width: 704px;
    max-height: 488px;
    padding: 44px;
  }

  .modal-img {
    width: 294px;
    min-height: 400px;
  }

  .modal-card {
    display: flex;
    gap: 16px;
    align-items: start;
  }

  .modal-card-title {
    margin-top: 0;
    font-size: 24px;
    line-height: 28px;
  }

  .modal-card-about-title {
    margin-top: 20px;
    margin-bottom: 16px;
  }

  .gap-right {
    margin-right: 8px;
    margin-bottom: 0;
  }
}
/* Desktop */

@media screen and (min-width: 1280px) {
  .modal {
    width: 846px;
    max-height: 598px;
    padding: 60px;
  }

  .modal-card {
    gap: 20px;
  }

  .modal-img {
    max-width: 375px;
    min-height: 478px;
  }

  .modal-card-title {
    line-height: 32px;
  }

  .modal-card-vote,
  .modal-card-genre-wrap,
  .modal-card-popularity-wrap {
    font-size: 16px;
    line-height: 19px;
  }

  .modal-card-about-title {
    font-size: 16px;
    line-height: 16px;
  }

  .modal-card-about-text {
    font-size: 14px;
    line-height: 20px;
  }
}
