.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 1;
  transition: opacity 500ms cubic-bezier(0.075, 0.82, 0.165, 1),
    visibility 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  z-index: 30;
  top: 50%;
  left: 50%;

  width: 704px;
  min-height: 488px;
  padding: 44px;

  background: #111111;
  box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
  border-radius: 16px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.close-btn {
  position: absolute;
  top: 30.75px;
  right: 30.75px;
  padding: 0;

  background: none;
  border: none;
  cursor: pointer;

  transition: border-color 500ms cubic-bezier(0.075, 0.82, 0.165, 1),
    background-color 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* .close-btn:active,
.close-btn:hover,
.close-btn:focus {
  border-color: var(--primary-button-hover);
  background-color: var(--primary-button-hover);
}

.close-btn:active .close-btn-icon,
.close-btn:hover .close-btn-icon,
.close-btn:focus .close-btn-icon {
  fill: var(--color-white);
} */
