.lib-btn-hidden {
  display: none;
}

.delete-film-btn {
  position: absolute;
  /* visibility: hidden; */
  top: 10;
  right: 10;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 2px solid;
  border-image: var(--primary-btn-color);
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.lib-option-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lib-clear-btn {
  padding: 12px 24px;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border-radius: 74px;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  cursor: pointer;
  width: 140px;
  color: var(--ligth-theme-title-color);
}

.lib-clear-btn:hover,
.lib-clear-btn:active,
.lib-clear-btn:focus {
  background: linear-gradient(323deg, #ffc226 9.4%, #f84119 91.91%);
}

.delete-film-btn:hover {
  color: #f84119;
}
.lib-empty-message {
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
}
.lib-empty-message.ligth-mode {
  color: #111111;
}
.lib-link-search {
  display: block;
  margin: 0 auto;
  padding: 12px 24px;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border-radius: 74px;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  cursor: pointer;
  width: 140px;
  color: #111111;
  text-align: center;
}
.lib-link-search:hover {
  background: linear-gradient(323deg, #ffc226 9.4%, #f84119 91.91%);
}
/* .overlay:hover + .delete-film-btn {
  visibility: visible;
} */
/*---------mobile----------*/
@media screen and (min-width: 320px) {
  .mylibrary_movies_section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .mylibrary_movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    gap: 16px;
    margin-top: 15px;
    margin-bottom: 20px;
    list-style: none;
  }
  .mylibrary_movie {
    position: relative;
    width: 280px;
    height: 406px;
    overflow: hidden;
    cursor: pointer;
  }

  .mylibrary_movie:hover {
    box-shadow: 0 0 25px rgba(255, 193, 36, 0.3),
      0 0 25px rgba(248, 65, 25, 0.3);
    transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
    scale: 1.03;
  }
  .mylibrary_dark::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 63.48%,
      rgba(0, 0, 0, 0.9) 92.16%
    );
  }

  .mylibrary_info {
    position: absolute;
    bottom: 0px;
    left: 0;
    padding-left: 20px;
    padding-bottom: 20px;
  }
  .mylibrary_movies_name {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.6;
    text-transform: uppercase;
    color: --primary-title-color;
  }
  .mylibrary_genre_movie {
    font-weight: 500;
    line-height: 1.4;
    color: #b7b7b7;
  }
  .hero_star_raiting {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  .hero_star_raiting .thisstars {
    font-size: 13px;
  }
  .mylibrary_button {
    display: grid;
    place-items: center;
  }
  .mylibrary_button-order {
    font-weight: 500;
    line-height: 1.14;
    padding: 12px 24px;
    width: auto;
    cursor: pointer;
    background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
    border-radius: 74px;
    left: 0;
  }
  .mylibrary_button-order:focus {
    background: white;
    color: #f87719;
    border-color: #f87719;
  }
  .mylibrary_button-order:hover {
    background: linear-gradient(323deg, #ffc226 9.4%, #f84119 91.91%);
  }
}

/*---------mobile----------*/

/*---------tablet----------*/
@media screen and (min-width: 768px) {
  .mylibrary_movies {
    margin-top: 35px;
    margin-bottom: 40px;
    gap: 28px 16px;
  }
  .mylibrary_movie {
    width: 224px;
    height: 325px;
  }
  .mylibrary_info {
    padding-left: 12px;
    padding-bottom: 12px;
  }
  .mylibrary_movies_name {
    line-height: 1.5;
  }
  .mylibrary_genre_movie {
    font-size: 12px;
    line-height: 1.6;
  }
  .hero_star_raiting {
    padding-right: 9px;
    padding-bottom: 12px;
  }

  .hero_star_raiting .thisstars {
    font-size: 13px;
  }
}
/*---------tablet----------*/
/*---------desktop----------*/
@media screen and (min-width: 1280px) {
  .mylibrary_movies_section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .mylibrary_movies {
    gap: 32px 16px;
  }
  .mylibrary_movie {
    width: 394px;
    height: 574px;
  }
  .mylibrary_movies_name {
    font-size: 20px;
    line-height: 1.15;
  }
  .mylibrary_genre_movie {
    font-size: 20px;
    line-height: 1.2;
  }

  .hero_star_raiting .thisstars {
    font-size: 22px;
  }
  .mylibrary_button-order {
    font-size: 18px;
    line-height: 1.5;
    height: 52px;
  }
}
/*---------desktop----------*/
