@import './team.css';

/*MODAL WINDOW*/

.backdrop-team {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 900;
}
/* .is-hidden {
  opacity: 0;
  pointer-events: none;
} */
.backdrop-team.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop-team.is-hidden.modal-team {
  transform: translate(-50%, -50%) scale(0.9);
}
.modal-team {
  width: 95%;

  height: 80%;
  /* max-height: 576px; */
  overflow: auto;
  background: linear-gradient(
    to right,
    rgba(46, 47, 66, 0.7019607843),
    rgba(46, 47, 66, 0.7019607843)
  );
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.modal-team.ligth-mode {
  background-color: whitesmoke;
}
.close-button-team {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid rgba(248, 130, 20, 0.3);
  color: #000000;
  background-image: url(/src/images/footer/close-black-18dp.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 24px;
  top: 24px;
}

.close-button-team:hover,
.close-button-team:focus {
  background-image: url(/src/images/footer/close-white.svg);
  background-color: orange;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*MOBILE*/
@media screen and (min-width: 320px) {
  .modal-team {
    height: 90vh;
  }
  ul {
    list-style-type: disc;
  }
  .footer-section {
    text-align: center;
    align-items: center;
  }
  .footer-section-2 {
    display: flex;
    gap: 10px;
    text-align: center;
    justify-content: center;
  }
}

/*TABLET*/
@media screen and (min-width: 768px) {
  .footer-section {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  .footer-section-2 {
    display: flex;
    gap: 10px;
  }
  .footer-paragraph-1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }

  .footer-paragraph-2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
}
/*DESKTOP*/
@media screen and (min-width: 1280px) {
  .footer-section {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  /* .footer-paragraph-1 {
    font-size: ;
  } */

  /* .footer-paragraph-1 {
    font-size: ;
  } */
  /* .footer-link {
  } */
  .footer-link:hover {
    text-decoration: underline;
  }
  .footer-section {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
}
