:root {
  --primary-text-color: #f8f8f8;
  --secondary-text-color: #b7b7b7;

  --primary-title-color: #ffffff;

  --primary-bgc: #111111;

  --primary-btn-color: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);

  --primary-ligth-theme-text-color: #282828;
  --secondary-ligth-theme-text-color: #595959;

  --ligth-theme-title-color: #111111;

  --ligth-theme-bgc: #ffffff;

  --primary-ligth-theme-btn-color: linear-gradient(
    141.22deg,
    #ffc226 9.4%,
    #f84119 91.91%
  );

  --accent-color: #f87719;

  --black: #000000;
  --white: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;

  color: var(--primary-text-color);
  background-color: var(--primary-bgc);
  margin: 0;
  transition: background-color 0.5s ease;
}

body.ligth-mode {
  background-color: var(--ligth-theme-bgc);
  color: var(--secondary-ligth-theme-text-color);
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}
