@import './reset.css';
@import './base.css';
@import './stars.css';
@import './home/home.css';
@import './catalog/catalog.css';
@import './my-lib/my-lib.css';
@import './hero/trailer-modal.css';
@import './hero/hero.css';
@import './home/modal.css';
@import './header/header.css';
<<<<<<< Updated upstream
@import './up-btn.css';
=======
@import './up-btn.css';
@import './footer/footer.css';
@import './footer/team.css';
>>>>>>> Stashed changes
