.hero-gradient {
  background: linear-gradient(
    86.77deg,
    #111111 30.38%,
    rgba(17, 17, 17, 0) 65.61%
  );
  padding-top: 40px;
  padding-left: 20px;
  padding-bottom: 80px;
  padding-right: 57px;
  height: 380px;
}
.container-wrapper {
  overflow: hidden;
}
.hero-img.hero-main {
  background-image: url('../../../images/hero/hero-home-mob1.jpg');
}
.hero-img {
  /* background-image: url('../../../images/hero/hero-home-mob1.jpg'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  height: 100%;
  object-fit: contain;
}
.hero-img.hero-lib {
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
}
.hero-img.hero-lib {
  background-image: url('../../../images/hero/hero-lib-mobilezip.jpg');
}

.hero-description-wrap {
  margin-bottom: 20px;
  margin-top: 20px;
}

.hero-description1 {
  height: 80px;

  display: inline-block;
  overflow-y: scroll;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #f8f8f8;
}

.hero-description2::-webkit-scrollbar {
  width: 1px;
}

.hero-description2::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.hero-description2::-webkit-scrollbar-thumb:hover {
  background: #fff;
}
.hero-description1::-webkit-scrollbar {
  width: 1px;
}

.hero-description1::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.hero-description1::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

.hero-title-wrap {
  margin-bottom: 8px;
}

.hero-title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.18;
  color: #ffffff;
}

.hero-description2 {
  display: inline-block;
  height: 60px;
  display: none;
  overflow-y: scroll;
}

.hero-btn.hero-btn-trailer {
  padding: 10px 20px;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border-radius: 74px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  cursor: pointer;
}
.hero-btn.hero-btn-trailer:hover,
.hero-btn.hero-btn-trailer:focus {
  background: linear-gradient(323deg, #ffc226 9.4%, #f84119 91.91%);
}

.hero-btn.hero-btn-more {
  position: relative;
  padding: 10px 20px;
  border-radius: 74px;
  background: var(--ligth-theme-title-color);
  text-align: center;
  color: var(--primary-title-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  transition: border 0.25s linear, border-color 0.25s linear,
    background 0.25s linear, color 0.25s linear;
}

.hero-btn.hero-btn-more::before {
  content: '';
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border-radius: 34px;
  z-index: -1;
}
.hero-btn.hero-btn-more:hover {
  background-color: var(--primary-title-color);
  color: var(--accent-color);
}

/* -------- MEDIA -------- */
@media screen and (min-width: 320px) {
  .hero-img.hero-main {
    background-image: url('../../../images/hero/hero-home-mob1.jpg');
  }
  .hero-img.hero-lib {
    background-image: url('../../../images/hero/hero-lib-mobilezip.jpg');
  }
}

/* TABLET */
@media screen and (max-width: 767px) {
  .hero-btn.hero-btn-more {
    margin-left: 8px;
  }
}

@media screen and (min-width: 768px) {
  .hero-btn.hero-btn-trailer {
    margin-right: 16px;
  }
  .hero-img.hero-main {
    width: 768px;
    background-image: url('../../../images/hero/hero-home-tablet1.jpg');
  }

  .hero-img.hero-lib {
    background-image: url('../../../images/hero/hero-lib-tabletzip.jpg');
  }

  .hero-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.18;
    color: #ffffff;
  }

  .hero-description-wrap {
    margin-bottom: 32px;
  }

  .hero-gradient {
    height: 372px;
    background: linear-gradient(
      82.55deg,
      #111111 39.6%,
      rgba(17, 17, 17, 0) 72.95%
    );
    padding-top: 62px;
    padding-left: 32px;
    padding-bottom: 62px;
    padding-right: 379px;
  }

  .hero-description1 {
    display: none;
  }

  .hero-description2 {
    height: 61px;
    width: 360px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    display: inline-block;
  }
}

/*  DESKTOP  */

@media screen and (min-width: 1280px) {
  .hero-title {
    font-size: 38px;
  }

  .hero-img.hero-main {
    background-image: url('../../../images/hero/hero-home-desktop1.jpg');
    background-size: cover;
    width: 1280px;
    /* left: 25%; */
  }

  .hero-img.hero-lib {
    background-image: url('../../../images/hero/hero-lib-desk.jpg');
  }

  .hero-gradient {
    background: linear-gradient(
      83.16deg,
      #111111 36.85%,
      rgba(17, 17, 17, 0) 60.05%
    );
    height: 660px;
    padding-top: 125px;
    padding-left: 32px;
    padding-bottom: 169px;
    padding-right: 784px;
    /* right: 25%; */
  }

  .hero-title-wrap {
    margin-bottom: 16px;
  }

  .hero-title {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 1.17;
    color: #ffffff;
  }

  .hero-description2 {
    max-width: 370px;
    height: 95px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
  }
}

/* 2x 0 - 1279px */
@media screen and (min-device-pixel-ratio: 2) and (max-width: 1279px),
  screen and (min-resolution: 192dpi) and (max-width: 1199px),
  screen and (min-resolution: 2dppx) and (max-width: 1199px) {
  .hero-img.hero-main {
    background-image: url('../../../images/hero/hero-home-tablet2.jpg');
  }

  .hero-img.hero-lib {
    background-image: url('../../../images/hero/hero-lib-tabletzip@2x.jpg');
  }
}
/* 2x 0 - 767px */
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero-img.hero-main {
    background-image: url('../../../images/hero/hero-home-mob2.jpg');
  }

  .hero-img.hero-lib {
    background-image: url('../../../images/hero/hero-lib-mobilezip@2x.jpg');
  }
}
/* 2x 1280px + */
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
  screen and (min-resolution: 192dpi) and (min-width: 1280px),
  screen and (min-resolution: 2dppx) and (min-width: 1280px) {
  .hero-img.hero-main {
    background-image: url('../../../images/hero/hero-home-desktop2.jpg');
  }

  .hero-img.hero-lib {
    background-image: url('../../../images/hero/hero-lib-desk@2.jpg');
  }
}
