.hero-gradient {
  background: linear-gradient(
    86.77deg,
    #111111 30.38%,
    rgba(17, 17, 17, 0) 65.61%
  );
  padding-top: 40px;
  padding-left: 20px;
  padding-bottom: 80px;
  padding-right: 57px;
  height: 380px;
}

.hero-img {
  background-image: url('../../../images/hero/hero-home-mob1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hero-description-wrap {
  margin-bottom: 20px;
}

.hero-description1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;

  color: #f8f8f8;
}

.hero-title-wrap {
  margin-bottom: 8px;
}

.hero-title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.18;
  color: #ffffff;
}

.hero-description2 {
  display: none;
}

.hero-btn {
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border-radius: 74px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16px;
  padding: 12px 24px;
  align-items: center;
  text-align: center;
  transition: border linear 250ms, border-color linear 250ms,
    background linear 250ms, color linear 250ms;
  border: 2px transparent;
}

.hero-btn.hero-btn-more {
  outline: 2px solid #f87719;
  background: transparent;
  color: #ffffff;
  margin-left: 14px;
}
.hero-btn.hero-btn-more:hover,
.hero-btn.hero-btn-more:focus {
  outline: 2px solid #fff;
}

.hero-btn:hover,
.hero-btn:focus {
  border-color: #f84119;
  background: white;
  color: #f87719;
  outline: 2px solid #f3c653;
}

/* медіа */

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-img {
    background-image: url('../../../images/hero/hero-home-mob2.jpg');
  }
}
@media screen and (max-width: 767px) {
  .hero-btn.hero-btn-more {
    margin-left: 8px;
  }
}

@media screen and (max-width: 1279px) {
  .hero-img {
    margin-left: auto;
    margin-right: auto;
  }
}
/* ---------------MEDIA TABLET(1024)---------------------- */
@media screen and (min-width: 768px) {
  .hero-gradient {
    height: 372px;
  }

  .hero-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.18;
    color: #ffffff;
  }

  .hero-description-wrap {
    margin-bottom: 32px;
  }

  .hero-gradient {
    padding-top: 62px;
    padding-left: 32px;
    padding-bottom: 62px;
    padding-right: 379px;
  }

  .hero-description1 {
    display: none;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: #f8f8f8;
  }

  .hero-description2 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    display: inline;
  }

  .hero-img {
    width: 768px;
    background-image: url('../../../images/hero/hero-home-tablet1.jpg');
  }
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-img {
    background-image: url('../../../images/hero/hero-home-tablet2.jpg');
  }
}
/* ---------------MEDIA DESKTOP(1280)---------------------- */

@media screen and (min-width: 1280px) {
  .hero-title {
    font-size: 38px;
  }
  .hero-gradient {
    height: 660px;
  }
  .hero-img {
    background-image: url('../../../images/hero/hero-home-desktop1.jpg');
    background-size: cover;
    width: 1280px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .details-restaurant {
      background-image: url('../../../images/hero/hero-home-desktop2.jpg');
    }
  }
}
@media screen and (min-width: 1280px) {
  .hero-gradient {
    padding-top: 169px;
    padding-left: 32px;
    padding-bottom: 169px;
    padding-right: 784px;
  }

  .hero-title-wrap {
    margin-bottom: 16px;
  }

  .hero-title {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 1.17;
    color: #ffffff;
  }

  .hero-description1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
  }

  .hero-btn {
    margin-right: auto;
  }
}
