.header {
  background-color: var(--black);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .nav {
  display: flex;
} */

.nav_list {
  display: flex;
  gap: 40px;
}

.current-page {
  text-shadow: 0px 0px 8px var(--accent-color);
  color: var(--accent-color);
}

.nav_link:hover {
  color: #ffc226;
}

.light-mode {
  background-color: var(--ligth-theme-bg);
  color: var(--primary-ligth-theme-text-color);
}

.toggle-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.toggle-label input[type='checkbox'] {
  display: none;
}

.toggle-slider {
  width: 60px;
  height: 24px;
  position: relative;
  border-radius: 25px;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  margin-left: 10px;
  background-repeat: no-repeat;
  background-position: left;
}

.toggle-slider:before,
.toggle-slider:after {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--white);
  top: 2.5px;
  left: 2.5px;
  transition: all 0.3s ease;
}

.toggle-slider:before {
  right: 2.5px;
}

.toggle-slider:after {
  left: 2.5px;
}

input[type='checkbox']:checked + .toggle-slider:before {
  transform: translateX(35px);
}

input[type='checkbox']:checked + .toggle-slider:after {
  transform: translateX(35px);
}

/* .toggle-icon {
  fill: beige;
} */
